/* Основні стилі для сторінок */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #007bb5;
}

ul.folder-list {
    list-style-type: none;
    padding: 0;
}

ul.folder-list li {
    padding: 5px 0;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px 0;
    color: #007bff;
}

strong {
    color: #000000;
}

.message {
    color: green;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.back-link {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: lightblue;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.back-link:hover {
    background-color: darkblue;
}